@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Sucess</title>
</head>
<body style="text-align:center">
    <h2> Đơn Hàng Của Bạn Đã Được Xác Nhận</h2>
    <h4> Đơn hàng sẽ được vận chuyển đến bạn trong khoản 2 - 3 ngày. Cảm ơn bạn.</h4>
    <a href="@Url.Action("Index","Product")"> Click để tiếp tục mua sắm</a>
</body>
</html>